{:app/info {:name "clj-template"
            :api-version "1.0.0"}

 :app/server {:port #long #or [#env PORT 2800]}

 :logging/config {:min-level #profile {:default :info
                                       :dev :debug}
                  ;; Per-namespace overrides, e.g. to quieten noisy libraries
                  :ns-min-levels {"org.eclipse.jetty.*" :warn}
                  :format #profile {:default :json
                                    :dev :text}}

 :ig/system {:clj-template.server/server #ref [:app/server]
             :clj-template.core/app {:info #ref [:app/info]}}}
